<router-outlet></router-outlet>

<p>
  Un composant sans tête est un composant qui fournit un comportement à ses
  enfants, et qui permet à ces derniers de décider de l'interface utilisateur à
  rendre tout en incorporant le comportement fourni par le parent. Dans cet
  article, nous explorons un exemple de composant sans tête, et les problèmes
  qu'ils nous aident à résoudre.
</p>

<app-file-select (file)="fileSelect($event)">
  <button
    *callbackTemplate="let context"
    class="primary"
    (click)="context.openFileSelectDialog()"
  >
    pick a file
  </button>
</app-file-select>
